@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Rampart+One&display=swap");

body {
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: center;
}

.main {
  display: flex;
}

.intro {
  height: 10em;
  text-align: center;
}

.heading {
  font-family: "Rampart One", cursive;
  font-size: 90px;
  margin: 0;
}

.sub-heading {
  font-family: "Rampart One", cursive;
  font-size: 60px;
}

.browse {
  font-family: "Dosis", sans-serif;
  font-size: 45px;
  padding-bottom: 45px;
}

.sale-btn {
  align-self: center;
  background-color: #fca311;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-size: 3rem;
  line-height: 23px;
  outline: none;
  padding: 2rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sale-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: #ffb030;
}

.sale-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.sale-btn-small {
  align-self: center;
  background-color: #fca311;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sale-btn-small:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: #ffb030;
}

.sale-btn-small:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.aside-from-basket {
  width: 75%;
}

.Grid-Top {
  margin-top: 55px;
}

.full-basket {
  width: 25%;
}

.basket-open-button {
margin-top:25px;
align-self: center;
background-color: #FCA311;
background-image: none;
background-position: 0 90%;
background-repeat: repeat no-repeat;
background-size: 4px 3px;
border-radius: 10px 225px 255px 15px 15px 255px 225px 15px;
border-style: solid;
border-width: 1px;
box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
box-sizing: border-box;
color: #000;
cursor: pointer;
display: inline-block;
font-family: 'Dosis', sans-serif;
font-size: 20px;
line-height: 23px;
outline: none;
padding: 10px;
text-decoration: none;
transition: all 235ms ease-in-out;
border-bottom-left-radius: 15px 255px;
border-bottom-right-radius: 225px 15px;
border-top-left-radius: 255px 15px;
border-top-right-radius: 15px 225px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
  margin-left: 35%;
}

.basket-open-button:hover {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
transform: translate3d(0, 2px, 0);
background-color: #ffb030;
margin-left: 35%;
}

.basket-open-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  margin-left: 35%;
}

.all-cats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.one-cat {
  width: 30%;
  height: 50vh;
  border-radius: 15px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.image {
  height: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info-holder {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination li {
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.active {
align-self: center;
background-color: #FCA311;
background-image: none;
background-position: 0 90%;
background-repeat: repeat no-repeat;
background-size: 4px 3px;
border-radius: 10px 225px 255px 15px 15px 255px 225px 15px;
border-style: solid;
border-width: 1px;
box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
box-sizing: border-box;
color: #000;
cursor: pointer;
display: inline-block;
font-family: 'Dosis', sans-serif;
font-size: 20px;
line-height: 23px;
outline: none;
padding: 10px;
text-decoration: none;
transition: all 235ms ease-in-out;
border-bottom-left-radius: 15px 255px;
border-bottom-right-radius: 225px 15px;
border-top-left-radius: 255px 15px;
border-top-right-radius: 15px 225px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.active:hover {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
transform: translate3d(0, 2px, 0);
background-color: #ffb030;
}

.active:focus {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.basket-container {
  width: 100%;
  height: 100%;
}

.close-basket {
  position: relative;
  left: 90%;
  align-self: center;
  background-color: #FCA311;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 10px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  line-height: 23px;
  outline: none;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-basket:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: #ffb030;
}

.your-basket {
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  text-align: center;
}

.basket-is-empty {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  text-align: center;
}

.Basket-item {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.Basket-image {
  width: 50%;
  margin: auto;
}

.Basket-image img {
  width: 100%;
  aspect-ratio: 1;
}

.cPage{
  background-color: #FCA311;
  height: 100vh;
}

.checkout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  margin: 2px
}

.Open-Bask-Btn {
  margin-top: 25px;
}

.checkoutbutton{
  width: 250px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  margin: 2px;
  position: relative; 
  top: 30px; 
  left: 40%; 
}
  

.checkout h1{
  font-size: 2.5rem;
}

.total-price {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
}

.remove-btn {
  position: relative;
  align-self: center;
  background-color: #FCA311;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 10px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  line-height: 23px;
  outline: none;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.remove-btn:hover {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
transform: translate3d(0, 2px, 0);
background-color: #ffb030; }